<%- include('../layout/admin/adminHeader.ejs') -%>

<body>
    <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Layout wrapper -->

  <div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">
  
      
      
        <%- include('../layout/admin/navbar.ejs') -%>
  
  
         <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">
            
                                
                    <!-- Order List Widget -->

                    <div class="card mb-6">
                    <div class="card-widget-separator-wrapper">
                        <div class="card-body card-widget-separator">
                        <div class="row gy-4 gy-sm-1">
                            <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                                <div>
                                <h4 class="mb-0">56</h4>
                                <p class="mb-0">Pending Payment</p>
                                </div>
                                <div class="avatar me-sm-6">
                                <span class="avatar-initial rounded bg-label-secondary text-heading">
                                    <i class="ri-calendar-2-line ri-24px"></i>
                                </span>
                                </div>
                            </div>
                            <hr class="d-none d-sm-block d-lg-none me-6">
                            </div>
                            <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                                <div>
                                <h4 class="mb-0">12,689</h4>
                                <p class="mb-0">Completed</p>
                                </div>
                                <div class="avatar me-lg-6">
                                <span class="avatar-initial rounded bg-label-secondary text-heading">
                                    <i class="ri-check-double-line ri-24px"></i>
                                </span>
                                </div>
                            </div>
                            <hr class="d-none d-sm-block d-lg-none">
                            </div>
                            <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                                <div>
                                <h4 class="mb-0">124</h4>
                                <p class="mb-0">Refunded</p>
                                </div>
                                <div class="avatar me-sm-6">
                                <span class="avatar-initial rounded bg-label-secondary text-heading">
                                    <i class="ri-wallet-3-line ri-24px"></i>
                                </span>
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                <h4 class="mb-0">32</h4>
                                <p class="mb-0">Failed</p>
                                </div>
                                <div class="avatar">
                                <span class="avatar-initial rounded bg-label-secondary text-heading">
                                    <i class="ri-error-warning-line ri-24px"></i>
                                </span>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                    <!-- Order List Table -->
                    <div class="card">

                      <header class="card-header">
                        <div class="row gx-2">
                          <div class="col-lg-3 col-md-6 me-auto">
                            <form action="">
                              <input type="text" placeholder="Search..." class="form-control" id="searchInput" name="search" value="<%= search %>" />
                            </form>
                          </div>
                        </div>
                      </header>
                      
                    <div class="card-datatable table-responsive">
                        <table class="datatables-order table">
                        <thead>
                            <tr>
                            <th>Order ID</th>
                            <th>date</th>
                            <th>customer</th>
                            <!-- <th>payment</th> -->
                            <!-- <th>status</th> -->
                            <th>method</th>
                            <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                              <tr>
                                <td><%= order.orderId %></td>
                                <td><%= new Date(order.orderDate).toLocaleDateString() %></td>
                                <td><%= order.userId.name %></td>
                                <!-- <td></td>
                                <td></td> -->
                                <td><%= order.paymentMethod %></td>
                                
                                <td>
                                    <div>
                                      <button class="btn btn-sm btn-icon btn-text-secondary text-body waves-effect rounded-pill dropdown-toggle hide-arrow show" data-bs-toggle="dropdown" aria-expanded="true">
                                        <i class="ri-more-2-line"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-end m-0">
                                        <a href="/admin/order-details/<%= order._id %>" class="dropdown-item">View</a>
                                        
                                      </div>
                                    </div>
                                  </td>
                              </tr>
                            <% }) %>
                          </tbody>
                      

                      </table>
                    </div>
                    </div>

  <!-- Pagination -->
                  <ul class="pagination" id="paginationHi">
                    <% if (totalPages > 1) { %>
                      <% if (currentPage <= 1) { %>
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                      <% } else { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= previous %>">Previous</a></li>
                      <% } %>

                      <% for (let j = 1; j <= totalPages; j++) { %>
                        <li class="page-item <%= currentPage === j ? 'active' : '' %>">
                          <a class="page-link" href="?page=<%= j %>"><%= j %></a>
                        </li>
                      <% } %>

                      <% if (currentPage < totalPages) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= next %>">Next</a></li>
                      <% } else { %>
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                      <% } %>
                    <% } else { %>
                      <li class="page-item disabled"><a class="page-link">Previous</a></li>
                      <li class="page-item active"><a class="page-link">1</a></li>
                      <li class="page-item disabled"><a class="page-link">Next</a></li>
                    <% } %>
                  </ul>


          </div>
          <!-- / Content -->

           
          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->



        
 <%- include('../layout/admin/adminFooter.ejs') -%>