<%- include('../layout/admin/adminHeader.ejs') -%>

<body>
    <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Layout wrapper -->

  <div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">
  
      
      
        <%- include('../layout/admin/navbar.ejs') -%>
  
  
         <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb"><a href="/admin/home">Home >></a></li>
                <li class="breadcrumb-item active" aria-current="page">Order Management</li>
              </ol>
            </nav>
            <div class="card mb-3">
              <div class="card-widget-separator-wrapper">
            
                <div class="row gy-4 gy-sm-1">
                  <div class="col-sm-6 col-lg-12">
                    <div class="card-body text-center">
                      <h2 class="fw-bold mb-0">Order Management</h2>
                    </div>
            
                  </div>
                </div>
              </div>
            </div>
                    

                    <!-- Order List Table -->
                    <div class="card">

                      <header class="card-header">
                        <div class="row gx-2">
                          <div class="col-lg-3 col-md-6 me-auto">
                            <form action="">
                              <input type="text" placeholder="Search..." class="form-control" id="searchInput" name="search" value="<%= search %>" />
                            </form>
                          </div>
                        </div>
                      </header>
                      
                    <div class="card-datatable table-responsive">
                        <table class="datatables-order table">
                        <thead>
                            <tr>
                            <th>Order ID</th>
                            <th>date</th>
                            <th>customer</th>
                            <th>Payment Status</th>
                            <th> Order status</th>
                            <th>method</th>
                            <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                              <tr>
                                <td><a href="/admin/order-details/<%= order._id %>"><%= order.orderId %></a></td>
                                <td><%= new Date(order.orderDate).toLocaleDateString() %></td>
                                <td><%= order.userId.name %></td>
                                <!-- <td></td> -->
                                <td> <%= order.paymentStatus  %></td>
                                <td>
                                  <% if (order.overallStatus === 'Pending') { %>
                                      <span class="badge bg-label-warning">Pending</span>
                                  <% } else if (order.overallStatus === 'Delivered') { %>
                                      <span class="badge bg-label-success">Delivered</span>
                                      <% }else if (order.overallStatus === 'Return Requested') { %>
                                        <span class="badge bg-label-danger">Return Requested</span>
                                  <% } %>
                              </td> 
                                <td><%= order.paymentMethod %></td>
                                
                                <td>
                                    <div>
                                      <button class="btn btn-sm btn-icon btn-text-secondary text-body waves-effect rounded-pill dropdown-toggle hide-arrow show" data-bs-toggle="dropdown" aria-expanded="true">
                                        <i class="ri-more-2-line"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-end m-0">
                                        <a href="/admin/order-details/<%= order._id %>" class="dropdown-item">View</a>
                                        
                                      </div>
                                    </div>
                                  </td>
                              </tr>
                            <% }) %>
                          </tbody>
                      </table>
                    </div>
                    </div>

  <!-- Pagination -->
                  <ul class="pagination" id="paginationHi">
                    <% if (totalPages > 1) { %>
                      <% if (currentPage <= 1) { %>
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                      <% } else { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= previous %>">Previous</a></li>
                      <% } %>

                      <% for (let j = 1; j <= totalPages; j++) { %>
                        <li class="page-item <%= currentPage === j ? 'active' : '' %>">
                          <a class="page-link" href="?page=<%= j %>"><%= j %></a>
                        </li>
                      <% } %>

                      <% if (currentPage < totalPages) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= next %>">Next</a></li>
                      <% } else { %>
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                      <% } %>
                    <% } else { %>
                      <li class="page-item disabled"><a class="page-link">Previous</a></li>
                      <li class="page-item active"><a class="page-link">1</a></li>
                      <li class="page-item disabled"><a class="page-link">Next</a></li>
                    <% } %>
                  </ul>


          </div>
          <!-- / Content -->

           
          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->



        
 <%- include('../layout/admin/adminFooter.ejs') -%>