<%- include('../layout/header.ejs') -%>

<style>
    /* Offer price */
    .original-price {
        text-decoration: line-through;
        color: #999;
        margin-right: 5px;
    }
    .offer-price {
        color: #e74c3c;
    }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-6">
            
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                       
                    </div>
                    <div class="header-center">
                        <a href="/" class="logo">
                            <img src="/assets/images/logo2.png"  alt="VAANZA Logo" width="262" height="22">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-txt">My Wishlist</span>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" >
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count"><%= cartCount %></span>
                                <span class="cart-txt">CART</span>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        <div class="dropdown cart-dropdown">
                            <a href="<%= user ? '/Profile' : '/login' %>" class="dropdown-toggle"  aria-haspopup="true"  >
                                <i class="icon-user"></i>
                                <span class="cart-txt"><%= user ? user.name : 'LOGIN' %></span>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="">HOME</a>
                                </li>
                                <li>
                                    <a href="/shop/gender/Men" class="">MEN</a>
                                </li>
                                <li>
                                    <a href="/shop/gender/Women" class="">WOMEN</a>
                                </li>
                                <li>
                                    <a href="/about">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="#">CONTACT</a>
                                </li>
                            
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{
                        "dots": false,
                        "nav": false, 
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'>
                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-6/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">You're Looking Good</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">New Lookbook</h1><!-- End .intro-title -->

                            <a href="/shop/gender/Women" class="btn btn-outline-white-4">
                                <span>Discover More</span>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-6/slider/slide-2.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Mysrety Deals</h1><!-- End .intro-title -->

                            <a href="/shop/gender/Women" class="btn btn-outline-white-4">
                                <span>Discover More</span>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-theme -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="pt-2 pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="banner banner-overlay">
                                <a href="/shop/gender/Women">
                                    <img src="assets/images/demos/demo-6/banners/banner-1.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h4 class="banner-subtitle text-white"><a href="/shop/gender/Women">New in</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="/shop/gender/Women"><strong>Women’s</strong></h3><!-- End .banner-title -->
                                    <a href="/shop/gender/Women" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="banner banner-overlay">
                                <a href="/shop/gender/Men">
                                    <img src="assets/images/demos/demo-6/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h4 class="banner-subtitle text-white"><a href="/shop/gender/Men">New in</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="/shop/gender/Men"><strong>Men’s</strong></a></h3><!-- End .banner-title -->
                                    <a href="/shop/gender/Men" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->
                    <hr class="mt-0 mb-0">
                </div><!-- End .container -->
            </div><!-- End .bg-gray -->

            <div class="mb-5"></div><!-- End .mb-5 -->
            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title">Trending</h2>
                  
                </div><!-- End .heading -->
            
                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel" aria-labelledby="trending-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
                            <% products.forEach(function(product) { %>
                            <% product.variants.forEach(function(variant) { %>
                            <div class="product product-7 text-center">
                                            
                          
                                <figure class="product-media">
                                    <div class="label-container left">
                                        <% if (product.bestOffer) { %>
                                          <span class="product-label label-sale"><%= product.bestOffer.discount %>% Off</span>
                                        <% } %>
                                      </div>


                                    <a href="/productView/product/<%= product._id %>/variant/<%= product.variants[0]._id %>">
                                        <img src="/assets/images/productImage/<%= variant.images[0] %>" alt="<%= product.name %>" class="product-image">
                                        <% if (variant.images[1]) { %>
                                        <img src="/assets/images/productImage/<%= variant.images[3] %>" alt="<%= product.name %>" class="product-image-hover">
                                        <% } %>
                                    </a>
                                </figure>
            
                                <div class="product-body">
                                    <div class="product-cat">
                                   <%= product.category.name %> </a>
                                    </div>
                                    <h3 class="product-title"><a href="/productView/product/<%= product._id %>/variant/<%= product.variants[0]._id %>"><%= product.name %></a></h3>
                                    <div class="product-price">
                                        <% if (product.bestOffer) { %>
                                         
                                            <span class="original-price">₹<%= product.price %></span>
                                            <span class="offer-price">₹<%= Math.round(product.price * (1 - (product.bestOffer.discount / 100))).toFixed(2) %></span>
                                        <% } else { %>
                                            ₹<%= product.price %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5"></div><!-- End .mb-5 -->

          

            <div class="pt-4 pb-3" style="background-color: #222;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-sm-6">
                            <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-truck"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                    <p>Free shipping for orders over $50</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-3 col-sm-6 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-rotate-left"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                    <p>Free 100% money back guarantee</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-3 col-sm-6 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-unlock"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                                    <p>100% secure payment</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-3 col-sm-6 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-headphones"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                    <p>Alway online feedback 24/7</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-3 col-sm-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light pt-2 pb-2 -->

            <div class="mb-6"></div><!-- End .mb-5 -->

           <!-- New Arrivals Section -->
<div class="container">
    <h2 class="title text-center mb-4">New Arrivals</h2>
    <div class="products">
      <div class="row justify-content-center">
        <% newArrivalProducts.forEach(product => { %>
            <% product.variants.forEach(function(variant) { %>
          <div class="col-6 col-md-4 col-lg-3">
            <div class="product product-7 text-center">
              <figure class="product-media">

              
                <div class="label-container left">
                    <% if (product.isNew) { %>
                      <span class="product-label label-new">New</span>
                    <% } %>
                    <% if (product.bestOffer) { %>
                      <span class="product-label label-sale"><%= product.bestOffer.discount %>% Off</span>
                    <% } %>
                  </div>
                <a href="/productView/product/<%= product._id %>/variant/<%= product.variants[0]._id %>">
                  <img src="/assets/images/productImage/<%= variant.images[0] %>" alt="<%= product.name %>" class="product-image">
                  <img src="/assets/images/productImage/<%= variant.images[3] %>" alt="<%= product.name %>" class="product-image-hover">
                </a>
              </figure>
              <div class="product-body">
                <div class="product-cat">
                 <%= product.category.name %></a>
                </div>
                <h3 class="product-title"><a href="/productView/product/<%= product._id %>/variant/<%= product.variants[0]._id %>"><%= product.name %></a></h3>
                <div class="product-price">
                  <% if (product.bestOffer) { %>
                    <span class="original-price">$<%= product.price.toFixed(2) %></span>
                    <span class="offer-price">$<%= Math.round(product.price * (1 - product.bestOffer.discount / 100)).toFixed(2) %> </span>
                  <% } else { %>
                    $<%= product.price.toFixed(2) %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
        <% }); %>
      </div>
    </div>
  </div>

            <div class="pb-3">
                <div class="container brands pt-5 pt-lg-7 ">

                    <h2 class="title text-center mb-4">shop by brands</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>
                        <a href="#" class="brand">
                            <img src="assets/images/brands/1.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="assets/images/brands/2.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="assets/images/brands/3.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="assets/images/brands/4.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="assets/images/brands/5.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="assets/images/brands/6.png" alt="Brand Name">
                        </a>

                        <a href="#" class="brand">
                            <img src="assets/images/brands/7.png" alt="Brand Name">
                        </a>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->

                <div class="mb-5 mb-lg-7"></div><!-- End .mb-5 -->

                <div class="container newsletter">
                    <div class="row">
                        <div class="col-lg-6 banner-overlay-div">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-6/banners/banner-3.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h4 class="banner-subtitle text-white"><a href="#">Limited time only.</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">End of Season<br>save 50% off</a></h3><!-- End .banner-title -->
                                    <a href="/shop/gender/Women" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6 d-flex align-items-stretch subscribe-div">
                            <div class="cta cta-box">
                                <div class="cta-content">
                                    <h3 class="cta-title">Refer and Earn</h3><!-- End .cta-title -->
                                    <p>Invite Friends to Vaanza and earn <span class="primary-color">₹ 100</span> for each referral</p>
                                </div><!-- End .cta-content -->
                            </div><!-- End .cta -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-gray -->

            <div class="mb-2"></div><!-- End .mb-5 -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <h4 class="widget-title">about VAANZA</h4><!-- End .widget-title -->
                                <p>Discover your unique style at VAANZA. We're more than just a clothing store; we're a community of fashion enthusiasts who believe that every outfit tells a story. Our curated collection features the latest trends and sustainable options to help you express yourself confidently. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About VAANZA</a></li>
                                    <li><a href="#">How to shop on VAANZA</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/login">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <figure class="footer-payments">
                        <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                    <!-- <img src="/assets/images/demos/demo-6/logo-footer.png" alt="VAANZA Logo" width="82" height="25"> -->
                    <p class="footer-copyright">Copyright © 2024 VAANZA Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/shop/gender/Men">MEN</a>
                    </li>
                    <li>
                        <a href="/shop/gender/Women" class="sf-with-ul">Women</a>
                    </li>
                    <li>
                        <a href="/about">ABOUT US</a>
                    
                    </li>
                    <li>
                        <a href="/contact">CONTACT</a>
                    </li>
                 
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Plugins JS File -->
   
</body>


<%- include('../layout/footer.ejs') -%>