
<%- include('../layout/header.ejs') -%>


<style>
/* Offer price */
.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}
.offer-price {
    color: #e74c3c;
}

</style>
</head>


<body>
    <div class="page-wrapper">
        <header class="header">
            

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                      
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars" style="color: black;"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu ">
                                <li>
                                    <a href="/shop/gender/Men" class="">MEN</a>
                                </li>
                                <li>
                                    <a href="/shop/gender/Women" class="">WOMEN</a>
                                </li>
                                <li>
                                    <a href="/about">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="/contact">CONTACT</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form id="searchForm">
                              <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" value="<%= searchVal %>" name="search" id="search" placeholder="Search product ...">
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                              </div>
                            </form>
                          </div>
                          <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                        </a>

                          <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" >
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count"><%= cartCount %></span>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title" style="font-weight: bold;"><%= title %></h1>

        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                     
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
                                            <form id="sortForm">
                                                <select name="sortby" id="sortby" class="form-control">
                                                    <option value="featured" <%= sortBy === 'featured' ? 'selected' : '' %> selected="selected">Featured</option>
                                                    <option value="newArrivals" <%= sortBy === 'newArrivals' ? 'selected' : '' %>>New Arrivals</option>
                                                    <option value="highToLow" <%= sortBy === 'highToLow' ? 'selected' : '' %>>Price: High to Low</option>
                                                    <option value="lowToHigh" <%= sortBy === 'lowToHigh' ? 'selected' : '' %>>Price: Low to High</option>
                                                    <option value="ascending" <%= sortBy === 'ascending' ? 'selected' : '' %>>aA - zZ</option>
                                                    <option value="descending" <%= sortBy === 'descending' ? 'selected' : '' %>>zZ - aA</option>
                                                </select>
                                            </form>
										</div>
                					</div><!-- End .toolbox-sort -->
                				
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    <% products.forEach(product => { %>
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <div class="label-container left">
                                                    <% if (product.isOutOfStock) { %>
                                                        <span class="product-label label-sale" style="background-color: #f60707;">Out of Stock</span>
                                                    <% } else if (product.isNew) { %>
                                                        <span class="product-label label-new">New</span>
                                                    <% } %>
                                                    <% if (product.bestOffer) { %>
                                                        <span class="product-label label-sale"><%= product.bestOffer.discount %>% Off</span>
                                                    <% } %>
                                                </div>
                                               
                                                <a href="/productView/product/<%= product._id %>/variant/<%= product.variants[0]._id %>">
                                                    <img src="/assets/images/productImage/<%= product.variants[0].images[0] %>" alt="Product image" class="product-image">
                                                    <img src="/assets/images/productImage/<%= product.variants[0].images[3] %>" alt="Product image" class="product-image-hover">
                                                </a>
                                                <div class="product-action-vertical">

                                                    <form class="add-to-whishlist">
                                                        <input type="hidden" class="wishlist-variant-id" value="<%= product.variants[0]._id %>">
                                                        <input type="hidden" class="wishlist-product-id" value="<%= product._id %>">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable" type="submit"><span>add to wishlist</span></a>
                                                        <!-- <button type="submit" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></button> -->
                                                    </form>
                                                </div><!-- End .product-action-vertical -->
                                             
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                
                                                <h3 class="product-title"> <a href="/productView/product/<%= product._id %>/variant/<%= product.variants[0]._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                                <p><%=product.category.name  %></p>
                                                <div class="product-price">
                                                    <% if (product.bestOffer) { %>
                                                        <!-- Display original price crossed out and offer price -->
                                                        <span class="original-price">₹<%= product.price %></span>
                                                        <span class="offer-price">₹<%= Math.round(product.price * (1 - (product.bestOffer.discount / 100))).toFixed(2) %></span>
                                                    <% } else { %>
                                                        <!-- Display the price without an offer -->
                                                        ₹<%= product.price %>
                                                    <% } %>
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                    <% }); %>
                                </div><!-- End .row -->
                            </div><!-- End .products -->

                			
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                  <% if (currentPage > 1) { %>
                                  <li class="page-item">
                                    <a class="page-link page-link-prev" href="/shop/gender/<%= title %>?sortby=<%= sortBy %>&page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                    </a>
                                  </li>
                                  <% } %>
                                  <% for (let i = 1; i <= totalPages; i++) { %>
                                  <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="/shop/gender/<%= title %>?sortby=<%= sortBy %>&page=<%= i %>"><%= i %></a>
                                  </li>
                                  <% } %>
                                  <% if (currentPage < totalPages) { %>
                                  <li class="page-item">
                                    <a class="page-link page-link-next" href="/shop/gender/<%= title %>?sortby=<%= sortBy %>&page=<%= currentPage + 1 %>" aria-label="Next">
                                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                    </a>
                                  </li>
                                  <% } %>
                                </ul>
                              </nav>
                            
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                				</div><!-- End .widget widget-clean -->
                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<form id="filterForm">
                                                <div class="filter-items filter-items-count">
                                                    <% categories.forEach((category, index) => { %>
                                                        <div class="filter-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="cat-<%= category._id %>" name="category" value="<%= category._id %>" <%= selectedCategories.includes(category._id.toString()) ? 'checked' : '' %>>
                                                                <label class="custom-control-label" for="cat-<%= category._id %>"><%= category.name %></label>
                                                            </div>
                                                            <span class="item-count"><%= category.itemCount %></span>
                                                        </div>
                                                    <% }); %>
                                                </div>
                                            </form>
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <h4 class="widget-title">about VAANZA</h4><!-- End .widget-title -->
                                <p>Discover your unique style at VAANZA. We're more than just a clothing store; we're a community of fashion enthusiasts who believe that every outfit tells a story. Our curated collection features the latest trends and sustainable options to help you express yourself confidently. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About VAANZA</a></li>
                                    <li><a href="#">How to shop on VAANZA</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/login">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <figure class="footer-payments">
                        <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                    <!-- <img src="/assets/images/demos/demo-6/logo-footer.png" alt="VAANZA Logo" width="82" height="25"> -->
                    <p class="footer-copyright">Copyright © 2024 VAANZA Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
              <form id="searchForm" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" value="<%= searchVal %>" name="search" id="search" placeholder="Search product ...">
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/shop/gender/Men">MEN</a>
                    </li>
                    <li>
                        <a href="/shop/gender/Women" class="sf-with-ul">Women</a>
                    </li>
                    <li>
                        <a href="/wishlist">WISHLIST</a>
                    
                    </li>
                    <li>
                        <a href="/about">ABOUT US</a>
                    
                    </li>
                    <li>
                        <a href="/contact">CONTACT</a>
                    </li>
                 
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


   <script>

    document.getElementById('filterForm').addEventListener('change', function() {
 
        const sortValue = document.getElementById('sortby').value;
        const searchValue = document.getElementById('search').value;
        console.log(sortValue)

        const params = new URLSearchParams(new FormData(this));

        const title ='<%= title %>'

        if (searchValue) {
            params.set('searchVal', searchValue);
        }

        if (sortValue) {
            params.set('sortby', sortValue);
        }

        window.location.href = `/shop/gender/${title}?${params.toString()}`;
    });

    document.getElementById('sortForm').addEventListener('change', function() {
        const filterForm = document.getElementById('filterForm');
        const sortValue = document.getElementById('sortby').value;
        const searchValue = document.getElementById('search').value;
        const title ='<%= title %>'
        const params = new URLSearchParams(new FormData(filterForm));

        if (searchValue) {
            params.set('searchVal', searchValue);
        }

        if (sortValue) {
            params.set('sortby', sortValue);
        }

        window.location.href = `/shop/gender/${title}?${params.toString()}`;
    });

    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const filterForm = document.getElementById('filterForm');
        const sortValue = document.getElementById('sortby').value;
        const searchValue = document.getElementById('search').value;
        const title ='<%= title %>'
        const params = new URLSearchParams(new FormData(filterForm));

        if (searchValue) {
            params.set('searchVal', searchValue);
        }

        if (sortValue) {
            params.set('sortby', sortValue);
        }

        window.location.href = `/shop/gender/${title}?${params.toString()}`;
    });

</script>
<script>
    document.querySelectorAll('.add-to-whishlist').forEach(button => {
        button.addEventListener('click', async (event) => {
            event.preventDefault();

            const form = button.closest('form');
            const productId = form.querySelector('.wishlist-product-id').value;
            const variantId = form.querySelector('.wishlist-variant-id').value;

            try {
                const response = await fetch('/addToWishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, variantId })
                });

                if (response.redirected) {
                    // Redirect to login if the user is not logged in
                    window.location.href = response.url;
                    return;
                }

                const data = await response.json();

                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Added to wishlist'
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'info',
                        title: 'Info',
                        text: data.message
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: `An unexpected error occurred: ${error.message}`
                });
            }
        });
    });
</script>






</body>


<%- include('../layout/footer.ejs') -%>